.formWrapper {
  max-width: 500px;
  margin: 50px auto;
  width: 80%;
  border: none;
  padding: 30px 20px;
  border-radius: 20px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.formWrapper img {
  width: 7%;
  margin-left: 15px;
}

.formWrapper h3 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #707981;
  font-weight: 400;
}

.formWrapper input {
  width: 100%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  background-color: #e9eff6;
  transition: all 0.4s ease 0s;
}

.formWrapper input:focus {
  outline: none;
}

.formWrapper input:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.formWrapper button {
  display: block;
  margin-left: auto;
  width: 50%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #f69a73;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: none;
  transition: all 0.3s ease 0s;
}

.formWrapper button:hover {
  margin-top: 7px;
  width: 51%;
  height: 54px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contactList {
  list-style: none;
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
}

.contactList li {
  width: 100%;
  min-height: 70px;
  height: auto;
  margin-bottom: 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  position: relative;
  display: flex;
  padding: 20px;
  padding-right: 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.contactList li p {
  width: 90%;
  font-size: 24px;
}

.contactList li input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cancelIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.editIcon {
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  right: 10px;
  top: 40px;
}

.editingContact form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.editingContact input {
  width: 90% !important;
  cursor: text !important;
  padding: 20px 15px !important;
  background-color: #e9eff6;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  margin: 12px auto;
  transition: all 0.4s ease 0s;
}

.editingContact input:focus {
  outline: none;
}

.editingContact input:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.editingContact button {
  display: block;
  margin-left: auto;
  width: 15%;
  height: 50px;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #f69a73;
  border-radius: 20px;
  margin: 0 auto;
  transition: all 0.3s ease 0s;
}

.editingContact button:hover {
  margin-top: 7px;
  width: 16%;
  height: 54px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.editing_h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
  color: #707981;
  font-weight: 400;
}
